<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
    <br><br><br><br> <br><br><br><br> <br><br><br><br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Wanita maut terjatuh dari tingkat 20</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img src="assets/wanitamaut.jpeg" alt="">
        Wanita berusia 19 tahun maut di tempat kejadian selepas terjatuh dari tingkat 20 sebuah kondominium di Taman
        Sungai Besi, Cheras, di sini, semalam. FOTO Ihsan PDRM
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Henti undang malapateka ke Stadium Nasional Bukit Jalil</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img src="assets/bukitjalil.jpeg" alt="">
        BOLA sepak sering mencetuskan perasaan ‘euforia’ dalam kalangan pencintanya. Sama halnya dalam kalangan peminat
        Harimau Malaya. Pasukan yang menyatukan 13 negeri dan tiga Wilayah Persekutuan di Malaysia. </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Covid-19: Jangan hanya tuding jari kepada China</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img src="assets/covid.jpeg" alt="">
        Permulaan 2023 digemparkan dengan gelombang baharu Covid-19 yang melanda China melibatkan subvarian omicron, XBB.1.5 yang dikatakan ‘mengganas’ ketika ini.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>